/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #00e0ff 12.5%, #0038ff 100%) !important;
  height: 4px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #2daafc, 0 0 5px #2daafc !important;
}

@layer components {
  .truncate-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .radial-gradient {
    background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #00e0ff 12.5%, #0038ff 100%);
  }

  .header {
    @apply fixed inset-x-0 top-0 z-50 flex h-24 items-center px-4 transition-all md:px-6 xl:px-0;
  }

  .nav {
    @apply fixed inset-0 flex flex-col items-start gap-4 bg-white px-4 transition-all xl:static xl:flex-row xl:items-center xl:gap-7 xl:bg-transparent xl:p-0;
  }

  .logo {
    @apply text-lg font-bold tracking-wider md:text-[22px];
  }

  @keyframes marqueeToLeft {
    0% {
      transform: translate(100%, -50%);
    }
    100% {
      transform: translate(-100%, -50%);
    }
  }

  .animation-1 {
    animation: marqueeToLeft 15s linear infinite;
    animation-delay: -15s;
    top: 50%;
  }
}
